.about-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.slideshow-container {
    margin-bottom: 20px;
}

.map-container {
    margin-bottom: 20px;
}

.metro-station-info {
    margin-top: 20px;
}
